<ul class="nav nav-pills nav-stacked mar-bot20">
	<li class="<%= 'active' if current_page?(new_event_path) %>">
		<%= link_to new_event_path do %>
			<i class="fa fa-calendar"></i> Event
		<% end %>
	</li>
	<li class="<%= 'active' if current_page?(new_venue_path) %>">
		<%= link_to new_venue_path do %>
			<i class="fa fa-map-marker"></i> Venue
		<% end %>
	</li>
	<li class="<%= 'active' if current_page?(new_gallery_path) %>">
		<%= link_to new_gallery_path do %>
			<i class="fa fa-camera"></i> Gallery
		<% end %>
	</li>
	<li class="<%= 'active' if current_page?(new_video_path) %>">
		<%= link_to new_video_path do %>
			<i class="fa fa-youtube-play"></i> Video
		<% end %>
	</li>
	<li class="<%= 'active' if current_page?(new_post_path) %>">
		<%= link_to new_post_path do %>
			<i class="fa fa-pencil"></i> Post
		<% end %>
	</li>
	<li class="<%= 'active' if current_page?(new_product_path) %>">
		<%= link_to new_product_path do %>
			<i class="fa fa-shopping-cart"></i> Product
		<% end %>
	</li>

	<li class="<%= 'active' if current_page?(inventory_products_path) %>">
		<%= link_to inventory_products_path do %>
			<i class="fa fa-truck"></i> Inventory
		<% end %>
	</li>

	<li class="<%= 'active' if current_page?(settings_password_path) %>">
		<%= link_to settings_password_path do %>
			<i class="fa fa-lock"></i> Password
		<% end %>
	</li>

	<li class="<%= 'active' if current_page?(pending_orders_path) %>"><%= link_to 'Pending Orders', pending_orders_path %></li>
</ul>
