<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#galleryModal">
  Add Gallery
</button>

<!-- Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="galleryModalLabel">Add a gallery to this event</h4>
      </div>
      <div class="modal-body">
         <%= form_for(@gallery, :validate => true, :html => {:class => 'gallery-form', :multipart => true}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.hidden_field :event_id %>
          <%= f.hidden_field :preview_pic %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :description %>
          <%= f.hidden_field :date %>
          <div>
              <%= file_field_tag "images[]", type: :file, multiple: true %>
          </div>
          <%= f.submit "Add Video", class: "btn btn-primary", style: "width: 100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>