<div class="post-<%= post.id %>">
	<div class="post-<%= post.id %>-title">
		<%= post.title %>
	</div>
	<div class="post-<%= post.id %>-content">
		<%= post.body %>
	</div>
</div>

<div id="upload">
	<div id="upload">
		<div id="dropzone">
			<div class="title">Drop Files to Upload</div>
			<div class="browse">
				<input data-url="/rides/1/photos" id="fileupload" name="photo[photo]" type="file"></input>

			</div>
		</div>
	</div>
</div>
