<section class="content">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-2 col-sm-2 col-xs-2 content-date align-center">
				<div class="date-container">
					<div class="day pad-top10"><%= @event.date.strftime('%a') %></div>
					<hr>
					<div class="month"><%= @event.date.strftime('%b') %></div>
					<div class="date"><%= @event.date.strftime('%d') %></div>
				</div>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 content-main">
				<div class="row">
					<div class="col-md-8 col-sm-8 mar-bot20 content-desc">
						<%= render partial: "admin_options" %>
						<%= link_to image_tag(@event.flyer.lg.url), @event.flyer.url, :data => { :colorbox => true }, :class => "group1 cboxElement" %>
						<div class="mar-top20 content-details">
							<%= @event.description_html %>
						</div>
						<hr>
					</div>
					<div class="col-md-4 col-sm-4 content-sidebar">
						<div class="venue-details">
							<div class="club-name"><%= @event.venue %></div>
							<div class="club-address"><%= @event.address %></br>
							<%= @event.city %>, <%= @event.state %> <%= @event.zipcode %></div>
						</div>
						<hr>
						<%= render partial: "shared/gallery_widget", locals: {gallery: @event.gallery} %>
						<hr>
						<%= render partial: "shared/videos_widget", locals: {videos: @event.videos} %>
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-5 col-sm-5"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(document).ready(function(){
		//Examples of how to assign the Colorbox event to elements
		$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
		$(".group1").colorbox({rel:'group1', maxHeight:'90%'});
	});
</script>