<section class="section appear clearfix" id="order">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-offset-2 col-md-8">
				<%= form_for(@order, :validate => true,:html => {:class => "row order-form", :multipart => true, :autocomplete => false} ) do |f| %>
					<% if @order.express_token.blank? %>
						<%= render 'shared/error_messages', object: f.object %>
						<p>
							<%= f.text_field :first_name %>
						</p>
						<p>
							<%= f.text_field :last_name %>
						</p>
						<p>
							<%= f.select :card_type, [["Visa", "visa"], ["Mastercard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
						</p>
						<p>
							<%= f.text_field :card_number %>
						</p>
						<p>
							<%= f.text_field :card_verification, label: "Card Verification Value (CVV)" %>
						</p>
						<p>
							<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
						</p>
						<p>
							<%= f.submit "Submit" %>
						</p>
					<% else %>
						<%= f.hidden_field :express_token %>
			    		<h4>Order Verification</h4>
			    		<p>Please make sure the below details are correct before completing your order.</p>
			    		<div class="order-items mar-bot20 pad-top20">
							<h3>Order Details</h3>
							<div class="col-md-12 mar-top20 pad-top20 line"></div>
							<div class="row order-hd">
								<div class="col-md-3">
									<h5>ITEM NAME</h5>
								</div>
								<div class="col-md-6">
									<h5>DESCRIPTION</h5>
								</div>
								<div class="col-md-1 align-center">
									<h5>QTY</h5>
								</div>
								<div class="col-md-2 align-right">
									<h5>AMOUNT</h5>
								</div>
							</div>
							<div class="col-md-12 mar-bot40 line"></div>
							<% @order.order_items(@order.express_token).each do |line_item| %>
								<div class="row order-item mar-bot10">
									<div class="col-md-3">
										<%= line_item["Name"] %>
									</div>
									<div class="col-md-6">
										<p><%= line_item["Description"] %></p>
									</div>
									<div class="col-md-1 align-center">
										<%= line_item["Quantity"] %>
									</div>
									<div class="col-md-2 align-right">
										<%= number_to_currency line_item["Amount"] %>
									</div>
								</div>
								<div class="col-md-12 mar-bot20 gray-line"></div>
							<% end %>
							<div class="row">
								<div class="col-md-8"></div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-6">
											Shipping Total:
										</div>
										<div class="col-md-6 align-right">
											<%= number_to_currency @order.shipping_cost %>
										</div>
									</div>
									<div class="row mar-top20">
										<div class="col-md-6">
											Sub-Total:
										</div>
										<div class="col-md-6 align-right">
											<%= number_to_currency @order.subtotal %>
										</div>
									</div>
									<div class="row mar-top20 order-total">
										<div class="col-md-6">
											Total:
										</div>
										<div class="col-md-6 align-right">
											<%= number_to_currency @order.total %>
										</div>
									</div>
								</div>
							</div>
						</div>

			    		<div class="col-md-12 mar-top20 pad-top20 mar-bot30 line"></div>
						
			    		<h3 class="mar-bot30">User Details</h3>
						<div class="row full-name">
							<div class="col-md-6 first-name">
								<%= f.text_field :first_name, placeholder: "First Name" %>
							</div>
							<div class="col-md-6 last-name">
								<%= f.text_field :last_name, placeholder: "Last Name" %>
							</div>
						</div>
						<%= f.text_field :shipping_address, placeholder: "Shipping Address" %>
						<%= f.text_field :shipping_address2, placeholder: "Shipping Address2", class: "col-md-12" %>
						<div class="row">
							<div class="col-md-4">
								<%= f.text_field :shipping_city %>
							</div>
							<div class="col-md-4">
								<%= f.text_field :shipping_state %>
							</div>
							<div class="col-md-4">
								<%= f.text_field :shipping_zip %>
							</div>
						</div>
						<%= f.select :shipping_country, [["United States", "United States"], ["Canada", "Canada"]], selected: @order.shipping_country, class: "col-md-12" %>
					<% end %>
				<%= f.submit "Complete Order", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</section>
