<%= form_for(@venue) do |f| %>
  <h4>Create a New Venue</h4>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :address, placeholder: "Address" %>
  <%= f.text_field :address2, placeholder: "Apt #, Between Streets, Directions" %>
  <div class="row">
    <div class="col-md-4 col-xs-4">
      <%= f.text_field :city, placeholder: "City" %>
    </div>
    <div class="col-md-4 col-xs-4">
      <%= f.text_field :state, placeholder: "State" %>
    </div>
    <div class="col-md-4 col-xs-4">
      <%= f.text_field :zipcode, placeholder: "Zip" %>
    </div>
  </div>
  <%= f.select :country, ["United States", "Jamaica"] %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>


