<% provide(:title, 'Shopping Cart') %>
<section id="section-cart" class="section appear clearfix">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-8 col-sm-8 col-xs-12"> <!-- Main Content -->
        <% if @cart.line_items.empty? %>
            <%= render "empty" %>
        <% else %>
          <%= render "header" %>
          <div class="cart-items">
            <% for line_item in @cart.line_items %>
              <%= render partial: 'cart_item', locals: {line_item: line_item} %>
            <% end %>
          </div>
          <div class="row order-summary mar-top20">
            <div class="col-md-7 col-sm-7 col-xs-7">
              <%= link_to "Continue Shopping", products_url, class: "btn btn-primary" %>
              <div class="shipping mar-top30">
                <h4>Choose State:</h4>
                <%= form_for(@cart, shipping_state: params[:shipping_state], remote: true, :html => {:id => "cart-#{@cart.id}"}) do |f| %>
                  <%= f.select :shipping_state, options_for_select(states_list), {selected: @cart.shipping_state}, {onchange: "$('#cart-#{@cart.id}').submit();"} %>
                <% end %>
              </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-7 subtotal-text">
                  Subtotal:
                </div>
                <div class="col-md-4  col-sm-4 col-xs-5 subtotal">
                  <%= number_to_currency @cart.total_price %>
                </div>
              </div>
              <div class="row mar-top20 shipping-info">
                <%= render partial: 'shipping_info', locals: {cart: @cart} %>
              </div>
              <div class="row mar-top20">
                <div class="col-md-8 col-sm-8 col-xs-7 total-text">
                  Total:
                </div>
                <div class="col-md-4 col-sm-4 col-xs-5 cart-total">
                  <%= number_to_currency @cart.shipping_cost + @cart.total_price %>
                </div>
              </div>
              <div class="mar-top20">
                <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_new_order_path, class: "pull-right" %>
              </div>
            </div>
          </div>
        <% end %>
      </div> <!-- End Main Content -->
      <div class="col-md-4 col-sm-4 hidden-xs">
        
      </div>
    </div>
  </div>
</section>