<li class="row product mar-bot30">
	<% if product.in_stock? %>
		<%= form_tag(line_items_path, :method => :post) do %>
			<%= hidden_field_tag :product_id, product.id %>
			<div class="col-md-3 product-image">
				<%= image_tag product.image.url(:thumb) %>
			</div>
			<div class="col-md-7 product-info mar-top10">
				<h2><%= product.name %></h2>
				<p><%= product.description %></p>
				<div class="product-size">
					<%= select_tag :size, options_for_select(product.available_sizes, 'M') %>
				</div>
			</div>
			<div class="col-md-2">
				<h3 class="mar-top20 mar-bot25 align-center">
					<%= number_to_currency product.price %>
				</h3>
				<div class="product-btn align-center">
					<%= submit_tag("Add to Cart", class: "btn btn-primary", :product_id => product.id)%>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="col-md-3 product-image">
			<%= image_tag product.image.url(:thumb) %>
		</div>
		<div class="col-md-7 product-info mar-top10">
			<h2><%= product.name %></h2>
			<p><%= product.description %></p>
			<div class="product-size"><%= select_tag :size, options_for_select(product.available_sizes, 'M') %></div>
		</div>
		<div class="col-md-2">
			<h3 class="mar-top20 mar-bot25 align-center">
				<%= number_to_currency product.price %>
			</h3>
			<span class="red align-center">Out of Stock</span>
		</div>
	<% end %>
</li>