<% if current_page?(root_path) %>
	<li class="active"><a href="#featured">Home</a></li>
	<li><a href="#section-members">Members</a></li>
	<li><a href="#section-works">Events</a></li>
	<li><%= link_to "Photos", galleries_path %></li>
	<li><%= link_to "Videos", videos_path %></li>
	<li><a href="<%= shop_path %>">Shop</a></li>
	<% if signed_in? %>
		<% if current_user.admin? %>
			<li><%= link_to "MyDC", panel_path %></li>
		<% else %>
			<li><%= link_to "MyDC", settings_path%></li>
		<% end %>
	<% else %>
		<li><%= link_to "Login", login_path %></li>
	<% end %>
	<% if !session[:cart_id].nil? %>
		<li><%= link_to mycart_path do %><i class="fa fa-shopping-cart"></i><% end %>
		</li>
	<% end %>
<% else %>
	<li><%= link_to "Home", root_path %></li>
	<li><a href="<%= root_path %>#section-members">Members</a></li>
	<li><%= link_to "Events", events_path %></li>
	<li><%= link_to "Photos", galleries_path %></li>
	<li><%= link_to "Videos", videos_path %></li>
	<li class="<%= 'active' if current_page?(shop_path) || current_page?(orders_path) || current_page?(products_path) %>"><a href="<%= shop_path %>">Shop</a></li>
	<% if signed_in? %>
		<% if current_user.admin? %>
			<li class="<%= 'active' if current_page?(panel_path) %>"><%= link_to "MyDC", panel_path %></li>
		<% else %>
			<li class="<%= 'active' if current_page?(settings_path) %>"><%= link_to "MyDC", settings_path%></li>
		<% end %>
	<% else %>
		<li class="<%= 'active' if current_page?(login_path) %>"><%= link_to "Login", login_path %></li>
	<% end %>
	<% if !session[:cart_id].nil? %>
		<li><%= link_to mycart_path do %><i class="fa fa-shopping-cart"></i><% end %>
		</li>
	<% end %>
<% end %>
